@page
@model PerfilesMItic.Pages.Hijos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hijo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hijo.NombreH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hijo.NombreH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hijo.ApellidoH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hijo.ApellidoH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hijo.FechaNacimientoH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hijo.FechaNacimientoH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hijo.cantidadHijos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hijo.cantidadHijos)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hijo.IdHijo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
