@page "/funcionarios/DatosPersonales"
@model PerfilesMItic.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}


<hr />
   
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card">
            <div class="card-header">
                <h1>Datos Personales</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Cedula" class="control-label">Cedula de Identidad</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-id-card"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Cedula" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Cedula" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Nombre" class="control-label">Nombres</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Nombre" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Apellido" class="control-label">Apellidos</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Apellido" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Apellido" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="date" asp-for="Funcionario.FechaNacimiento" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.FechaNacimiento" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Barrio">Barrio</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-globe"></i>
                                            </span>
                                        </div>
                                        <select asp-for="Funcionario.IdBarrio" class="form-control"
                                                asp-items="@Model.listaBarrio">
                                            <option value="">---Seleccionar---</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Funcionario.IdBarrio" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Ciudades" class="control-label">Ciudad</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-globe"></i>
                                            </span>
                                        </div>
                                       <select asp-for="Funcionario.IdCiudad" class="form-control"
                                               asp-items="@Model.listCiudad">
                                           <option value="">--Seleccione---</option>
                                       </select>
                                    </div>
                                    <span asp-validation-for="Funcionario.Ciudades" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Departamento" class="control-label">Departamento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-building"></i>
                                            </span>
                                        </div>
                                        <select asp-for="Funcionario.IdDepartamento" class="form-control"
                                                asp-items="@Model.listDepartamento">
                                            <option value="">---Selecciona---</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Funcionario.Departamento" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.PaisNacimiento" class="control-label">Pais de Nacimiento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-flag"></i>
                                            </span>
                                        </div>
                                        <select asp-for="Funcionario.IdPais" class="form-control"
                                                asp-items="@Model.listPais">
                                            <option value="">--Seleccione---</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Funcionario.PaisNacimiento" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Pasaporte" class="control-label">Nº de Pasaporte</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-passport"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Pasaporte" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Pasaporte" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.RegConducir" class="control-label">Registro De Conducir</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-id-card"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.RegConducir" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.RegConducir" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Categoria" class="control-label">Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-id-card-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Categoria" class="form-control" placeholder="B, A, C, Particular" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Categoria" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.RUC" class="control-label">RUC</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-id-card"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.RUC" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.RUC" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Sexo" class="control-label">Ingrese Su Sexo</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-circle"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Sexo" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Sexo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Telefono" class="control-label">Linea Baja</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-phone-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Telefono" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Telefono" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.TelefonoMovil" class="control-label">Celular</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-mobile"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.TelefonoMovil" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.TelefonoMovil" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.EstadoCivil" class="control-label">Estado Cilvil</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-slash"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.EstadoCivil" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.EstadoCivil" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Direccion" class="control-label">Direccion</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-address-card"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Direccion" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Direccion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Correo" class="control-label">Correo Institucional</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Correo" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Correo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.TipoFuncionario" class="control-label">Relacion con la Institucion</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-astronaut"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.TipoFuncionario" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.TipoFuncionario" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.EmailParticular" class="control-label">Correo Particular</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope-open"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.EmailParticular" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.EmailParticular" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Observaciones" class="control-label">Observaciones</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-binoculars"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Observaciones" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Observaciones" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Vivienda" class="control-label">Vienda</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-house-user"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Vivienda" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Vivienda" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Funcionario.Activo" /> @Html.DisplayNameFor(model => model.Funcionario.Activo)
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-xs-12">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                                </div>
                            </div>
                            
                        </div>

                        @*<div class="row">
            <div class="col-sm-2 col-md-2 col-xs-12">
                <div>
                    <a asp-page="uncionario/Create" class="btn btn-outline-info">Regresar</a>
                </div>
            </div>
        </div>*@
                    </div>
                    <div class="col-sm-3 col-md-3 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Funcionario.JpgImagen" class="control-label">FOTO</label>
                            <div class="card">
                                <img src="~/images/default.png" id="preview" class="img-thumbnail" />
                            </div>
                            <div class="input-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFileLang" onchange="previewFile()" lang="es">
                                  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                                </div>
                            </div>
                            <span asp-validation-for="Funcionario.JpgImagen" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
