@page
@model PerfilesMItic.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].JpgImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].TipoFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].EstadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].EmailParticular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario[0].TelefonoMovil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Funcionario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JpgImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailParticular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoMovil)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
